<template>
  <v-container class="marginOfTop mb-16">
    <v-row>
      <v-col offset="4" cols="4">
        <div class="text-h4 text-center">Waitng for logining</div>
        <v-progress-linear
        class="mt-4"
          color="deep-purple accent-4"
          indeterminate
          rounded
          height="6"
        ></v-progress-linear>
        <v-btn @click="test">test</v-btn>
        <v-btn @click="test2">test222</v-btn>
      </v-col>
    </v-row>
  </v-container>
</template>
<script lang='ts'>
import { Component, Prop, Vue } from "vue-property-decorator";
import { useStore } from "vuex-simple";
import { MyStore } from "@/store/store";
@Component({
  name: "",
  components: {},
})
export default class Confirm extends Vue {
  //store
  public store: MyStore = useStore(this.$store);

  public mounted() {
    const googleCode = this.$route.query.code;
    if (typeof googleCode === "string") {
      this.googleLogin(googleCode);
    }
  }

  private async googleLogin(_code: string | undefined) {
    if (_code === undefined) {
      return;
    }
    const loginResult: any = await this.store.main.account.axiosGoogleLogin({
      code: _code,
    });

    console.log(loginResult);
    if (loginResult.message === "login") {
      this.afterLogin(loginResult.token, loginResult._id);
      return;
    }
  }

  private afterLogin(_token: string, _id: string) {
    this.store.main.account.setLoginAndToken(_token);
    this.store.main.account.setId(_id);
    // const redirectUrl = this.store.main.redirectUrl;
    // const cookie:any = this.$cookies.get('redirectUrl');
    // const redirectUrl = cookie.url
    //reset
    this.store.main.cart.prods = [];
    this.dealWithCartCookie();
    this.$router.push("/");
    // this.store.main.setRedirect("/")
    // this.$cookies.set("redirectUrl", JSON.stringify({url:'/'}));
  }

  private async dealWithCartCookie() {
    const rawCart: any = this.$cookies.get("cart");
    const cart = !rawCart ? [] : JSON.parse(rawCart);
    const _id = this.store.main.account._id;
    const params = { _id: _id, cart: cart };

    await this.store.main.account.axiosSaveCartToDb(params);
    //get cart from db
    this.store.main.cart.axiosDbCart({ _id: _id, isLogin: true });

    this.$cookies.remove("cart");
  }

  private test(){
      window.location.replace('https://klay24.gitlab.io/bazzar/login/confirm/')
  }

  private test2(){
      window.location.href = "https://klay24.gitlab.io/bazzar/login/confirm/"
  }
}
</script>

<style lang='scss' scoped>
</style>